# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Android Studio / Android
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbol files
*.dartable
*.tmPreferences
